.ForgotPassword-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.form-container {
    width: 35%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-container .icon-container {
    height: 120px;
    width: 120px;
    background-image: url('../assets/images/lock-icon.png');
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.form-container .title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.form-container .desciption {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.2rem;
}

.btn {
    width: 100%;
    padding: 1.1rem 0.9rem;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: #05002c;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #141227;
}

.link {
    display: inline-block;
    margin-left: 6px;
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 780px) { 
    .ForgotPassword-page {
        height: 100vh;
        width: 100%;
        justify-content: unset;
    }  
    .ForgotPassword-page .form-container {
        margin-top: 2rem;
        width: 100%;
    } 

    .form-container .title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.2rem;
    }
}