@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* App Header */
.App-header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  padding: 20px 50px;
  /* border: 1px solid red; */
}

.App-header h1 {
  font-size: 1.5rem;
  /* border: 1px solid red; */
}

.App-header .nav-bar {
  display: flex;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 0;
  padding: 20px 20px 20px 0px;
  /* border: 1px solid red; */
}

.nav-bar ul li {
  padding-right: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
